{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'img/senac_branco.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/meu_booststrap.css' %}">
    <link rel="stylesheet" href="{% static 'style/user.css' %}">
    <link rel="stylesheet" href="{% static 'style/setores.css' %}">
    <title>Music Hall - setores</title>
</head>
<body>
    <header class="container_header">
        <a href="{% url "home" %}"><figure class="logo_senac"><img src="{% static 'img/senac_branco.svg' %}" alt="logo_senac"></figure></a>

        <nav class="container_menu">
            <ul class="list_menu">
                <li><a href="{% url "building_register" %}" class="menu color_branco subtitle"><img src="{% static 'icons/building.svg' %}" alt="icons_building" class="icons">Setores</a></li>
                <li><a href="{% url "events_register" %}" class="menu color_branco subtitle"><img src="{% static 'icons/guitar.svg' %}" alt="icons_guitar" class="icons">Eventos</a></li>
                <li><a href="{% url "user_register" %}" class="menu color_branco subtitle"><img src="{% static 'icons/user.svg' %}" alt="icons_user" class="icons">Usuários</a></li>
                <li><a href="{% url "profile" %}" class="menu color_branco subtitle"><img src="{% static 'icons/user-alt.svg' %}" alt="icons_user" class="icons">perfil</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h1 class="title color_branco">Vendas Setores</h1>
        <form action="#" class="form_container">
            <select name="perfil_select" id="perfil_select" class="select_style bg_cinza_escuro color_cinza_medio size-24">
                <option value="teste" disabled selected>Escolha uma categoria</option>
                <option value="teste">teste2</option>
            </select>

            <input type="number" name="email" id="email" class="input_style bg_cinza_escuro color_branco size-24" placeholder="Qtd disponível - 500">
            <button type="button" class="btn bg_cinza_claro color_branco subtitle">Prosseguir</button>
        </form>
    </main>
</body>
</html>